@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f8f7f5;
}

.container {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 100vw;
	height: 100vh;
}

.content {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	margin: 0 20% 0 20%;
	text-align: center;
}

.traffic_cone {
	width: 250px;
	height: auto;
}

.highlight {
	color: #ff6f00;
}

h1 {
	font-size: 3.5vw;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: 'Pretendard-Regular';
}

p {
	font-size: 1.3vw;
	font-family: 'Pretendard-Regular';
	margin-top: 5px;
	margin-bottom: 0;
}

@media (max-width: 1100px) {

	h1 {
		font-size: 6vw;
	}
	p {
		font-size: 2.2vw;
	}

}

@media (max-width: 500px) {

	h1 {
		font-size: 7vw;
	}
	p {
		font-size: 4vw;
	}

}

.modal-overlay {
	z-index: 999; 
	background-color: #f8f7f5;
	border: 2px solid black;
	border-radius: 3%;
	padding: 0 0 10% 0;
	display: flex;
	position: absolute;
	width: 40vw;
	height: 25vw;
	box-shadow: 10px 10px 5px #969696c0;
	flex-direction: column;
}

.close-area {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	margin-right: 1.7vw;
}

.modal-window {
	display: flex;
	justify-content: center;
    align-items: center;
}

.close-area p {
	display: flex;
	font-size: 4vw;
	color: #ff6f00;
}

.modal_content h1 {
	margin-top: 20px;
}

@media (max-width: 1100px) {

	.modal-overlay {
		width: 60vw;
		height: 55vw;
		padding: 0;
	}

	.modal_content h1 {
		font-size: 5vw;
	}
	.modal_content p {
		font-size: 2.2vw;
	}
	.close-area {
		margin-right: 2vw;
	}

	.close-area p {
		font-size: 6vw;
	}

}

@media (max-width: 700px) {

	.modal-overlay {
		padding: 0 0 20% 0;
		/* height: 50vw; */
	}

	.modal_content h1 {
		margin-top: 10px;
	}

	.modal_content h1 {
		font-size: 5vw;
	}
	.modal_content h2 {
		font-size: 3vw;
	}
	.modal_content p {
		font-size: 3vw;
	}

	.close-area {
		margin-right: 3vw;
	}

	.close-area p {
		font-size: 8vw;
	}

}

@media (max-width: 400px) {

	.modal-overlay {
		padding: 0 0 20% 0;
		height: 65vw;
	}
}